body {
	background: url(../images/black.jpg);
  max-width: 90%;
}

.project {
	position: relative;
	border: gray solid 5px;
	display: inline-block;
	margin: 15px;
	width: 150px;
	height: 150px;
	padding: 20px;
	left: 22%;
	border-radius: 50%;
	color: #C0C0C0;
	text-align: center;
	vertical-align: -70px;
	font-family: Special Elite;
	border-style:double;
}

.project p {
	margin-top: 50px;
}

#project4 {
  bottom: 30px;
}

a {
	text-decoration: none;
	color: #C0C0C0;
}

.aboutme {
	position: absolute;
	right: 85%;
	top: 50%;
	margin-left: 50px;
	color: #C0C0C0;
	font-family: Special Elite;
}

.name {
	position: relative;
	margin: auto;
	width: 250px;
	height: 250px;
	transform: rotate(-52deg);
	-moz-transform: rotate(-52deg);
	-webkit-transform: rotate(-52deg);
	color: #C0C0C0
}

.name h2 {
	border: none;
}

.name span {
  font: 36px Special Elite, MonoSpace;
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
}

.char0 { transform: rotate(6deg); -moz-transform: rotate(6deg); -webkit-transform: rotate(6deg); }
.char1 { transform: rotate(12deg); -moz-transform: rotate(12deg); -webkit-transform: rotate(12deg); }
.char2 { transform: rotate(18deg); -moz-transform: rotate(18deg); -webkit-transform: rotate(18deg); }
.char3 { transform: rotate(24deg); -moz-transform: rotate(24deg); -webkit-transform: rotate(24deg); }
.char4 { transform: rotate(30deg); -moz-transform: rotate(30deg); -webkit-transform: rotate(30deg); }
.char5 { transform: rotate(36deg); -moz-transform: rotate(36deg); -webkit-transform: rotate(36deg); }
.char6 { transform: rotate(42deg); -moz-transform: rotate(42deg); -webkit-transform: rotate(42deg); }
.char7 { transform: rotate(48deg); -moz-transform: rotate(48deg); -webkit-transform: rotate(48deg); }
.char8 { transform: rotate(54deg); -moz-transform: rotate(54deg); -webkit-transform: rotate(54deg); }
.char9 { transform: rotate(60deg); -moz-transform: rotate(60deg); -webkit-transform: rotate(60deg); }
.char10 { transform: rotate(66deg); -moz-transform: rotate(66deg); -webkit-transform: rotate(66deg); }
.char11 { transform: rotate(72deg); -moz-transform: rotate(72deg); -webkit-transform: rotate(72deg); }
.char12 { transform: rotate(78deg); -moz-transform: rotate(78deg); -webkit-transform: rotate(78deg); }
.char13 { transform: rotate(84deg); -moz-transform: rotate(84deg); -webkit-transform: rotate(84deg); }
.char14 { transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); }
.char15 { transform: rotate(96deg); -moz-transform: rotate(96deg); -webkit-transform: rotate(96deg); }
.char16 { transform: rotate(102deg); -moz-transform: rotate(102deg); -webkit-transform: rotate(102deg); }
.char17 { transform: rotate(108deg); -moz-transform: rotate(108deg); -webkit-transform: rotate(108deg); }

.contact {
	position: relative;
	height: 80px;
	font-family: Special Elite;
	top: 10%;
}

.socialmedia {
	position: relative;
	display: inline-block;
	margin: 15px;
	width: 150px;
	padding: 20px;
	left: 27%;
	color: black;

}


@media (max-width: 500px) {
      .aboutme {
      	left: 1%;
      }
      
      .projects {
      	margin-left: 55px;
      }

      .contact {
      	left: 18%;
      }

      .name {
      	right: 1%;
      }

}




