.main {
	background-image: url(../images/black.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

html, body {
  height: 100%;
	max-width: 890px;
}

#name {
	color: #C0C0C0;
	position: absolute;
	width: 100%;
	height: auto;
	text-align: center;
	font: 90px 'Roboto Condensed', sans-serif;
	top: 30%;
}

.aboutme {
	position: absolute;
	width: 50%;
	height: auto;
	text-align: center;
	color: #C0C0C0;
	font: 25px 'Roboto Condensed', sans-serif;
	top: 46%;
	left: 25%;
}

#project1 {
	background-image: url(../images/purple.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	z-index: 1000;
	right: 90%;
	font: 25px 'Roboto Condensed', sans-serif;
}

img {
	position: absolute;
	display: inline-block;
	left: 49%;
	top: 10%;
}
span {
	display: inline-block;
}

#description {
	display: inline-block;
}

.review {
	display: inline-block;
	position: absolute; 
	width: 45%;
	top: 35%;
	left: 6%;
}

span a{
	text-decoration: none;
	color: black;
}

p a {
	text-decoration: none;
	color: #C0C0C0;
}

a:hover, a:focus {
	color: #933;
}


#project2 {
	background-image: url(../images/brown-paper.jpeg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 200%;
	left: 0;
	z-index: 1000;
	right: 90%;
	font: 25px 'Roboto Condensed', sans-serif;
}

#project3 {
	background-image: url(../images/offwhite-wall.jpeg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 300%;
	left: 0;
	z-index: 1000;
	right: 90%;
	font: 25px 'Roboto Condensed', sans-serif;
}

#project4 {
	background-image: url(../images/purple.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 400%;
	left: 0;
	z-index: 1000;
	right: 90%;
	font: 25px 'Roboto Condensed', sans-serif;
}

.contact {
	background-image: url(../images/black.jpg);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 500%;
	left: 0;
	z-index: 1000;
	right: 90%;
	font: 25px 'Roboto Condensed', sans-serif;
}

.socialmedia {
	position: relative;
	display: inline-block;
	margin: 15px;
	width: 150px;
	padding: 20px;
	left: 45%;
	color: #C0C0C0;
	top:37%;
}

.arrow-down {
	position: absolute;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #C0C0C0;
  top: 85%;
  left: 48%;
}







